/* =============
    Section 2
============= */
#section-2{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section-2 .";
    article{
        background-color: $white;
        color: $red;
        padding: 100px 0;
        text-align: center;
    }
}