/* =============
    Section 1
============= */

#section-1{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". section-1-container .";
   
    @include xl{
        grid-template-columns: auto 1200px auto;
    }
 
   >div{
        grid-area: section-1-container;
        article{
           
            div{
                background-image: url('../img/section-1/whole_boy.jpg');
                height: 420px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                @include md{
                        height: 280px;
                        background-position-x: -320px;

                }

                @include lg{
                        height: 490px;
                        background-position-x: 0px;
                    
                }
                
                
                 
            }    

         }
    }


    section{
        color: $black;
        padding: 60px 0;
        text-align: center;

        h2{
            border-top: 3px solid $red;
            border-bottom: 3px solid $red;
            
        }
    }
}    
    

