/* =============
    Section 3
============= */
#section-3{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-3 .";
    padding: 50px 0;
    text-align: center;
    color: $blue;

    @include md{
        grid-template-columns: auto 70% auto;
    }

    @include xl{
        grid-template-columns: auto 650px auto;
    }
    
    >div{
        grid-area: section-3;

        h3{
            border-top: 3px solid $red;
            border-bottom: 3px solid $red;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
   
}