/* =============
    Section 2
============= */
#section-2{
    background-image: url('../img/section-2/oasis.jpg');
    height: 520px;
    background-size: cover;
    background-position: center;
    
    @include md{
        height: 540px;
    }

    @include lg{
        height: 683px;
    }

    @include xl{
        height: 690px;
    }

}