/* =============
    Section 1b
============= */

#section-1b{
    padding-bottom: 30px;
   
    @include xl{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". section-1b-container .";
    }
 
    #section-1b-container{

        @include md{
            display: grid;
            grid-template-columns: 40% auto;
            grid-template-areas: "section-1b-image section-1b-content";
            padding: 50px 0;
        }

        @include xl{
            grid-area: section-1b-container;
        }

        section{
            margin: 60px 0;
            @include md{
                margin: 0;
            }

            #section-1b-content{
                padding: 0 15px;
                grid-area: section-1b-content;
                @include md{
                    grid-area: section-1b-image;
                }
                h2{
                    padding: 7px 0;
                    border-top: 3px solid $red;         
                    border-bottom: 3px solid $red;
                    text-align: center;
                }
            }
        }

        aside{
            background-image: url('../img/section-1/whole_boy.jpg');
            background-size: cover;
            height: 480px;
            
            @include md{
                height: 416px;
            }

            @include lg{
                height: 730px;
            }

            @include xl{
                height: 740px;
            }

        }
    }
}
