/* =============
    Footer
============= */
footer{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". footer .";

    >div {
        grid-area: footer;
    }

}