/* =============
    Footer
============= */
footer{
  background-color: $red;
  padding: 20px 0;
  text-align: center;
  color: $white;
  position: relative;

    p{
        position: absolute;
        right: 30px;
        bottom: 10px;
    }

}