/* =============
    Header
============= */
#header{
    background-color: $white;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    >div{
        display: grid;
        grid-template-areas: "logo burger"
                            "nav nav";
        grid-template-columns: 80% auto;
        #logo-container{
            grid-area: logo;
        }
        #burger-container{
            grid-area: burger;
            @include lg{
                display: none;
                
            }
        }
        #nav-container{
            grid-area: nav;
            display: none;

            @include lg{
                display: block;

            }
        }
        
        section{
            i{
                color: $blue;
            }
        }
    }
}